<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
</head>
<body>
    <h1>Movie List</h1>

    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Filter</button>
        <a href="{% url 'movie_list' %}">Reset</a>
    </form>

    <ul>
        {% for movie in movies %}
            <li>
                {{ movie.title }} ({{ movie.release_date|date:"Y" }}) - Rating: {{ movie.rating }}

                {% if movie.trailer_id %}
                    <br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ movie.trailer_id }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            </li>
        {% empty %}
            <li>No movies found.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'export_movies_csv' %}">Export to CSV</a>
</body>
</html>